<div class="sub-titleCls">
  <p>Dream Graphs</p>
</div>
<div class="mainGraphCls">
  <div class="row">
    <div class="col-md-12">
      <div google-chart chart="controller.columnChartObject" style="height:200px; width:90%;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div google-chart chart="controller.pieChartObject" style="height:300px; width:100%;"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="controller.typeChartObject" style="height:300px; width:100%;"></div>
    </div>
  </div>
</div>
