<div class="sub-titleCls">
  <p>Edit Dream</p>
</div>
<div class="mainAddDiv" layout="column">
  <flash-message duration="5000" class="align-center" on-dismiss="controller.closeDialog(flash)"></flash-message>
  <form name="editDreamForm" ng-submit="controller.editDream()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="" class="lblCls">Title</label>
            <input type="text" name="title" ng-model="controller.dream.title" class="form-control inputCls txtCls smallFontCls" placeholder="Title" required="true">
        </div>
      </div>
      <div class="col-md-6">
        <div layout="column" layout-align="center start">
          <div class="dateDivCls">
            <label for="" class="lblCls">Date</label>
            <p class="input-group ">
                <input type="text" class="form-control inputCls smallFontCls"
                 uib-datepicker-popup="MM/dd/yyyy"
                 ng-model="controller.dream.dreamDate"
                 is-open="controller.popup.opened"
                 ng-required="true"
                 close-text="Close"
                 id="date-picker"
                 readonly
                 ng-click="controller.open()"
               />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btnCls" ng-click="controller.open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" layout="column">
            <label for="" class="lblCls">Narrate your dream</label>
            <textarea name="name" class="smallFontCls" ng-model="controller.dream.content"></textarea>
        </div>
        <!-- -->
      </div>
      <div class="col-md-6">
        <div layout="column" layout-align="center start" >
          <div class="form-group checkboxDivCls">
            <label for="nightmare" class="lblCls checkbox">
              <input type="checkbox" id="nightmare" name="nightmare" ng-model="controller.dream.nightmare" ng-init="controller.dream.nightmare=false">
              Nightmare
            </label>
            <label for="lucid" class="lblCls checkbox">
              <input type="checkbox" id="lucid" name="lucid" ng-model="controller.dream.lucid" ng-init="controller.dream.lucid=false">
                Lucid
              </label>
            <label for="recurrent" class="lblCls checkbox">
              <input type="checkbox" id="recurring" name="recurring" ng-model="controller.dream.recurring" ng-init="controller.dream.recurring=false">
              Recurring
            </label>
          </div>
        </div>
        <!-- -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group typeDivCls" layout="column">
          <label id="emotLbl" class="lblCls">Emotions in the dream :&nbsp;<span class="displayLblCls" >{{controller.emoteString}}</span></label>
          <angular-maphilight id="emotionMap" angular-maphilight-config="controller.configObj">
            <img ng-src="/ngApp/css/images/emotions.png" alt="emotions" class="emotionsImgCls">
            <map name="emotionMap">
              <area shape="circle" coords="34,47,33" ng-click="controller.addEmotion('Joy')" alt="" title="Joy">
              <area shape="circle" coords="34,201,33" ng-click="controller.addEmotion('Sadness')" alt="" title="Sadness">
              <area shape="circle" coords="113,47,33" ng-click="controller.addEmotion('Accepted')" alt="" title="Accepted">
              <area shape="circle" coords="113,201,33" ng-click="controller.addEmotion('Rejected')" alt="" title="Rejected">
              <area shape="circle" coords="193,47,33" ng-click="controller.addEmotion('Aware')" alt="" title="Aware">
              <area shape="circle" coords="193,201,33" ng-click="controller.addEmotion('Surprised')" alt="" title="Surprised">
              <area shape="circle" coords="273,47,33" ng-click="controller.addEmotion('Angry')" alt="" title="Angry">
              <area shape="circle" coords="273,201,33" ng-click="controller.addEmotion('Fearful')" alt="" title="Fearful">
            </map>
          </angular-maphilight>
        </div>
      </div>
      <div class="col-md-6">
        <div layout="column" layout-align="center start" class="typeDivCls">
          <div class="form-group checkboxDivCls ">
            <label for="role" class="lblCls checkbox">
              <input type="checkbox" name="role" ng-model="controller.dream.role" ng-init="controller.dream.role=false">
              Is the dream about you?
            </label>
            <label for="pvt" class="lblCls checkbox">
              <input type="checkbox" name="pvt" ng-model="controller.dream.pvt" ng-init="controller.dream.pvt=true">
                Is this a Private dream?
              </label>
          </div>
          <br/><br/>
          <div class="form-group" layout-align="center center" layout="column">
            <button type="submit" class="btn btn-default btncls makeBold">Edit Dream</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
