<div class="mainBodyCls" layout="column" flex layout-fill>
<div class="quoteCls">
  <p>Search Results</p>
</div>
<div class="homePageDivClass" layout="column">
  <flash-message duration="5000" class="align-center" on-dismiss="controller.closeDialog(flash)"></flash-message>
  <div class="row">
    <div class="col-md-12">
       <uib-accordion >
         <div uib-accordion-group class="panel-default smallFontCls" heading="{{dream.title}}" ng-repeat="dream in controller.dreams.slice(((controller.currentPage-1)*controller.itemsPerPage), ((controller.currentPage)*controller.itemsPerPage))">
           <div layout="row">
             <div>
               <md-icon ng-click="controller.showDream(dream._id)" title="Show"><i class="material-icons iconsCls journalIconCls">launch</i></md-icon>
             </div>
             </div>
             <div class="contentCls">
               <p>{{dream.content}}</p>
             </div>
         </div>
       </uib-accordion>
    </div>

  </div>
  <div class="pagerCls">
    <ul uib-pager total-items="controller.totalItems" ng-model="controller.currentPage" items-per-page="controller.itemsPerPage"></ul>
  </div>
</div>
