/* general */

.quoteCls{
  text-align: center;
  font-family:'Great Vibes', cursive;
  font-size: 24px;
  margin-top: 5px;
/*  font-weight:bold; */
}

.dateDivCls{
  width:40%;
}

.sub-titleCls{
  text-align: center;
  font-family:'Great Vibes', cursive;
  font-size: 24px;
  padding-top:5px;
/*  font-weight:bold; */
  color:  white;
  background-color: rgb(211, 105, 197);
}

.sub-titleCls::first-letter{
  text-transform: capitalize;
}
.makeBold{
  font-weight:bold;
}

/*
.dateSpanCls{
  max-height: 22px;
}
*/


/*
.inputCls{
  max-width: 150px;

}

.dateCls{
  max-width: 190px;
}



.glyphicon{
  top:-3px;
}
*/

/* general */


/* Main page styles */

.titleCls{
  margin: 8px 0 0 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: rgb(148, 63, 181);
  color: white;
  max-height: 60px;
}


.mainBodyCls{
  background-image: url('/ngApp/css/images/Amazing-night-sky.jpg');
  border: 1px solid black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.btnCls{
  min-width:35px;
  vertical-align: bottom;
  font-size: 10px;
  margin:0;
/*  font-weight: bold;  */
}

.iconsCls{
  font-size:18px;
  margin-left:5px;
}

.material-icons{
  line-height: .8;
}
md-toolbar input{
  height:25px;
  vertical-align: bottom;
  border-radius:5px;
  color:blue;
  font-size:12px;
  min-width: 250px;
}



/* Main page styles */

/* Login / register page styles */
.loginDivCls{
  background-color: rgb(211, 105, 197);
  padding-top: 25px;
  color:white;
}

.signUpDivCls{
  padding-top: 10px;
}

.loginFormCls{
  background-color: white;
  min-width: 350px;
  min-height: 300px;
  border: 1px solid white;
  margin: 0 auto;
  padding:40px 15px 10px 15px;
  border-radius: 15px;
}

.signUpFormCls{
  min-height: 400px;
  padding-top: 20px;
}

.inputCls{
  height:28px;
}
.txtCls{
  max-width: 250px;
}

.error{
  color: red;
  font-size: 10px;
}

.buttonCls{
  font-size: 12px;
}

.align-center{
  text-align: center;
}

.lblCls{
  font-size: 10px;
  color:black;
}
/* Login /register page styles */

/* Main Page Styles */

.choiceDivCls{
  min-width: 180px;
  height:160px;
  border: 1px solid pink;
  margin:25px;
  float:left;
  border-radius: 20px;
  position:relative;
}

.mainPageDivCls{
  width: 700px;
  height: 495px;
}

.choiceDivCls img{
  width:180px;
  height:160px;
  border-radius: 20px;
}

.captionDivCls{
  position:absolute;
  height:25px;
  width:100%;
  top:45px;
  left:0px;
  text-align: center;
  color:rgb(148, 63, 181);
  font-family: 'Great Vibes', cursive;
  font-size: 34px;
  font-weight: bold;
}

.selected{
  opacity: 0.5;
}


/* Main Page Styles */

/* add dream page */
.mainAddDiv{
  padding:0px 25px 0px 25px;
  background-color: rgb(211, 105, 197);
  height: 90%;
}

.emotionsImgCls{

  height: 250px;
  width: 350px;
}

.typeDivCls{
    padding-top: 0px;
}

.checkboxDivCls{
  margin-top:20px;
  margin-left: 15px;
}

/* add dream page */

input[type="checkbox"] {
    vertical-align: bottom;
}
label.checkbox {
    vertical-align: top;
    line-height: 24px;
    margin: 2px 0;
    display: block;
    height: 24px;
}

textarea{
  max-width: 400px;
  height: 90px;
  border-radius: 5px;
  font-size:12px;
}
.displayLblCls{
  min-width: 250px;
  height: 22px;
  font-size: 10px;
  color:white;
}
.smallFontCls{
  font-size: 10px !important;
}

.dropdown-menu{
  font-size:12px !important;
}

.btn-group-sm>.btn, .btn-sm{
  font-size:10px !important;
}

/*  dream journal */

.panel-default>.panel-heading{
  background-color: rgb(211, 105, 197);
  color: white;
  font-size: 26px;
}

.panel-title{
  font-size: 14px;
}

.panel-body{
  font-size: 14px;
}

.journalIconCls{
  color: blue;
  border: 1px solid blue;
  height: 25px;
  border-radius:5px;
  vertical-align: middle;
  width: 20px;
  padding:5px 5px 5px 0px;
  margin-rigt: 15px;
}

.contentCls{
  margin-top: 15px;
  background-color: lightpink;
  border-radius: 5px;
  font-size:12px;
  width:85%;
}

.pagerCls{
  width: 30%;
  margin:0 auto;
  font-size: 12px;
}

/* dream journal */

/* show dream */

.dreamTitleCls{
    background-color: white;
    font-weight: bold;
}

.dreamContentCls{
  border: 1px solid white;
  border-radius: 5px;
  height: 120px;
  font-size: 12px;
}

.showDreamDiv{
  height:90%;
}

.dreamFormCls{
  font-size: 12px;
}

.form-cls{
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.formBodyCls{
  padding: 15px 15px 0px 15px;
}
.formBtnCls{
  position: relative;
}
.formBtnCls button{
  position:absolute;
  top:55px;
  left:0px;
}

.commentsDivCls{
  margin-top:15px;
  border:1px solid white;
  border-radius: 5px;
}

.commentCls{
  margin:5px;
  background-color: lightpink;
  font-size: 12px;
}

.commentCls span{
  font-style: italic;
}

.mainGraphCls{
  overflow:hidden;
}

.myDateCls table{
  width: 350px;
}

.range>.btn-default {
 background-color: #5bb75b;
}
.range button span {
 color: #fff;
 font-weight: bold;
}

/* show dream */
